body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}
header{
    background-color: #79589f;
}
.header-container{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    margin: 15px 0;
    color: white;
    font-weight: 400;
    letter-spacing: 0.5px;
}
header ul li{
    list-style-type: none;
    display: inline;
    padding-left: 5px;
}
header a:hover{
    border-bottom: 2px solid #ffffff;
}
header a{
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}


main{
    padding: 0 210px 0 170px;
    background-color: #79589f;
}
.main-container{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 550px 400px;
    gap: 30px;
    color: white;
    align-items: center;
    justify-content: center;
}
input{
    display: block;
    padding: 3px;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    border-bottom: 1px solid gray;
    width: 100%;
    margin: auto;    
    margin-bottom: 30px;
    letter-spacing: -1px;
}
input[type="submit"] {
    width: 100px;
    background-color: #61467f;
    color: #c8c3bc;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 10px 0;
    border-radius: 5px;
    margin: 0;
}
input[type="submit"]:hover{
    cursor: pointer;
    padding: 9px 0;
    width: 30%;
    margin-left: 2px;
    letter-spacing: 0;
}
.submit{
    height: 40px;
    display: flex;
    align-items: center;
}
.left-side{
    width: 100%;
}
.right-side{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    margin-top: 100px;
    width: 80%;
    z-index: 10;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.384);
}
form{
    margin: auto;
}
form h2{
    font-weight: 500;
    color: #000000;
    margin: 10px 0 30px 0;
}
.left-side h1{
    margin: 0;
    font-size: 40px;
    font-weight: 500;
}
.read-more{
    height: 60px;
    width: 550px;
    display: flex;
    align-items: center;
}
.left-side h3{
    font-weight: 500;
    font-size: 16px;
    padding: 15px 30px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    width: 15%;
    margin: 0;
    text-align: center;
}
.left-side h3:hover{
    padding: 14px 28px;
    margin-left: 2px;
    font-size: 15.5px;
    text-align: center;
}
.left-side p{
    line-height: 1.5;
}


.kr{
    background-color: #ffffff;
    height: 150px;
    margin-top: -110px;
    width: 100%;
    transform-origin: right top;
    transform: skewY(-2deg);
}


.section2{
    padding: 60px 200px 0 170px;
    z-index: 10;
    background-color: #ffffff;
    margin-top: -20px;
}
.section2 h3{
    color: #000000;
    width: 51%;
    margin: auto;
    text-align: center;
    line-height: 30px;
}
.in-section2{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.icons h3{
    color: #7162a1;
    font-weight: 300;
    margin-top: 0;
}
.icons h1{
    font-size: 33px;
    color: #000000;
}
.in2-section2{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    gap: 5px;
    margin-left: 20px;
}
#box1{
    grid-column: 3/4;
    grid-row: 1/2;
}
#box2{
    grid-column: 3/4;
    grid-row: 2/3;
}
.in2-section2 .bottom{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 40px;
}
.in2-section2 .bottom h3{
    margin: 0;
    width: 100%;
    text-align: left;
}


.section3{
    background-color: #79589f;
    color: #ffffff;
    padding: 10px 20px 40px 20px;
    margin: 0;
}
.section3 h1{
    font-size: 47px;
    font-weight: 200;
}
.section3 .content{
    width: 60%;
    text-align: center;
}
.section3 h3{
    font-size: 20px;
    font-weight: 100;
    margin-top: -15px;
    margin-bottom: 40px;
}
.section3 a{
    text-decoration: none;
    background-color: #1e0033;
    color: #ffffff;
    padding: 15px 35px;
    border-radius: 5px; 
    font-size: 16px;
}
.section3 a:hover{
    padding: 14px 34px;
    font-size: 15px;
}


.section4{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
}
.section4 h1{
    font-size: 35px;
    font-weight: 100;
}
.pl{
    padding: 20px 20px 50px 20px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.384);
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
}
.pl:hover{
    transition: transform 0.3s ease;
    transform: translate(0px, -10px);

}
.pl:not(:hover) {
    transition: transform 0.1s ease;
  }
.section4 .flex{
    display: flex;
    gap: 25px;
    margin-bottom: 45px;
}

footer{
    background-color: #260040;
    padding: 50px 200px;
    color: #e8e6e3;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: #e8e6e3;
}
footer ul li{
    list-style-type: none;
    margin: 7px;
}
footer h1, h3{
    font-weight: 100;
    margin: 10px;
}
footer svg{
    width: 19%;
}

.feature-main{
    background-color: #f4f4f4;
    padding: 20px 170px;
}
.feature-main p{
    width: 50%;

}
.feature-main h1{
    font-weight: 100;
}

header .h1{
    margin: 70px 170px 20px;
    color: white;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-size: 55px ;
}
header h3{
    margin: 0 170px;
    padding-bottom: 50px;
    color: white;
}

.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.205);
    padding: 20px;
}
.grid-section{
    padding-top: 60px;
    padding-bottom: 100px;
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    gap: 25px 40px;
}
#b1{
    grid-row: 1/2;
    grid-column: 1/4;
}
#b2{
    grid-row: 2/3;
    grid-column: 1/3;
}
.box p{
    width: 80%;
}

@media screen and (max-width: 770px){

    .main-container{
        margin: auto;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .left-side{
        text-align: center;
        margin: auto;
        width: 70%;
        padding: 0;
        margin: 0;
    }
    main{
        padding: 0;
    }
    .read-more h3{
        padding: 10px 15px;
        width: 30%;
    }
    .read-more{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .right-side{
        width: 70%;
    }
      .section2{
        padding: 50px 10px 20px;
      }
      .section2 h3{
        width: 70%;
      }
      .in-section2{
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 100%;
        gap: 30px;
      }
      .in2-section2{
        grid-template-columns: 100%;
        padding: 40px 40px 0 40px;
      }
      .in2-section2 .bottom h3{
        font-weight: 600;
      }
      #box1{
        grid-row: 1/2;
        grid-column: 1/2;
      }
      #box2{
        grid-row: 2/3;
        grid-column: 1/2;
      }
      .section3 .content{
        width: 100%;
      }
      .flex{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      footer{
        grid-template-columns: 100%;
        gap: 15px;
        padding: 40px;
      }
      footer ul{
        padding: 0;
      }
      footer a svg{
        width: auto;
        margin-left: 5px;
      }
}
